<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Ant Design Of Angular</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Welcome</a>
          </li>
          <!-- <li nz-menu-item nzMatchRouter>
            <a routerLink="/demo01">demo01</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/demo02">demo02</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/demo03">demo03</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/demo04">demo04</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/demo05">demo05</a>
          </li> -->
          <li nz-submenu nzMatchRouter [nzTitle]="demo06">
            <ng-template #demo06>
              <a routerLink="/demo06/1">demo06</a>
            </ng-template>
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a routerLink="/demo06/1">1</a>
              </li>
              <li nz-menu-item nzMatchRouter>
                <a routerLink="/demo06/2">2</a>
              </li>
            </ul>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/ngrx-test">Ngrx</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/data-tree-test">Data Tree Test</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Basic Form</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
