<lib-button-group>
  <lib-operator-button-create></lib-operator-button-create>
  <lib-button buttonText="HI">
    <ng-template libButtonContent>
      <button nz-button nzType="primary">
        HHH
      </button>
    </ng-template>
  </lib-button>
  <lib-button buttonText="HH"></lib-button>
  <lib-button buttonText="OO"></lib-button>
  <lib-button buttonText="OO2"></lib-button>
  <lib-button buttonText="OO3"></lib-button>
  <lib-button-group>
    <lib-operator-button-create></lib-operator-button-create>
    <lib-button buttonText="HI">
      <ng-template libButtonContent>
        <button nz-button nzType="primary">
          HHH
        </button>
      </ng-template>
    </lib-button>
    <lib-button buttonText="HH"></lib-button>
    <lib-button buttonText="OO"></lib-button>
    <lib-button buttonText="OO2"></lib-button>
    <lib-button buttonText="OO3"></lib-button>
  </lib-button-group>
</lib-button-group>

<app-data-table [nzSelection]="true" [disabledBy]="disabledFn">
  <link-view-column nzTitle="SN" dataKey="unit_sn">
  </link-view-column>
  <open-modal-column nzTitle="打开一个弹窗" dataKey="unit_sn" #column="openModalColumn">
    <ng-template modalContent let-data>
      {{data['unit_sn']}}
    </ng-template>
    <ng-template modalTitle>
      我是Title {{data}}=
    </ng-template>
    <ng-template modalFooter let-data>
      <nz-space>
        <button nz-button (click)="column.close()" *nzSpaceItem>
          取消
        </button>
        <button nz-button nzType="primary" (click)="column.close()" *nzSpaceItem>
          确定
        </button>
      </nz-space>
    </ng-template>
  </open-modal-column>
  <date-column nzTitle="Expect End Time" dataKey="expect_end_time" format="yyyy-MM-dd">
  </date-column>
  <!--  -->
  <text-column nzTitle="操作">
    <lib-icon-button-group [data]="data" *columnContent="let data">
      <lib-icon-button-edit [buttonDisabled]="true"></lib-icon-button-edit>
      <lib-icon-button-view [buttonDisabled]="true"></lib-icon-button-view>
      <lib-icon-button-delete [buttonDisabled]="true"></lib-icon-button-delete>
      <lib-icon-button-view></lib-icon-button-view>
      <lib-icon-button-view></lib-icon-button-view>
      <lib-icon-button-view></lib-icon-button-view>
    </lib-icon-button-group>
  </text-column>
</app-data-table>
