<!-- <app-search-group [config]="config.searchConfig"></app-search-group> -->

<nz-table #nzTable [nzData]="$any(data$|async)" [nzPageSize]="$any(pageSize$|async)" nzFrontPagination="false"
  [nzPageIndex]="$any(pageIndex$|async)" [nzLoading]="isFetching$|async" [nzTotal]="$any(total$|async)"
  [nzShowSizeChanger]="true" (nzPageIndexChange)="onPageIndexChange($event)"
  (nzPageSizeChange)="onPageSizeChange($event)">
  <thead>
    <tr>
      <th *ngIf="nzSelection" nzWidth="50px" [nzChecked]="_dataCheck.allChecked"
        [nzIndeterminate]="_dataCheck.indeterminate" (nzCheckedChange)="_dataCheck.allItemsCheckChange($event)">
      </th>
      <th *ngFor="let col of listOfColumns">
        <ng-container *nzStringTemplateOutlet="col.nzTitle">
          {{col.nzTitle}}
        </ng-container>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of nzTable.data; let rowIndex=index">
      <td [nzChecked]="_dataCheck.setOfCheckedId.has(item.id)" [nzDisabled]="item|disabledBy|async"
        (nzCheckedChange)="_dataCheck.itemCheckedChange(item.id, $event)" *ngIf="nzSelection">

      </td>
      <td *ngFor="let col of listOfColumns; let columnIndex=index">
        <ng-container *ngIf="col.contentFromContentChild else tdView">
          <ng-container *nzStringTemplateOutlet="col.contentFromContentChild; context:{
            $implicit:item, rowIndex: rowIndex, columnIndex: columnIndex
          }"></ng-container>
        </ng-container>
        <ng-template #tdView>
          {{item[col.dataKey]}}
        </ng-template>
      </td>
    </tr>
  </tbody>
</nz-table>
